oldsols/
fr_solver/
saved_outputs/
*.tar
*.pvd
*.vts
*.o
inputs
./pv_outputs
residuals.dat
csv_outputs/

\
solver.prof
pv_outputs/
*.prof
fr_solver
*.pvsm
.idea/
test_regression
test_unit
__pycache__/
scratch/
uut.log
