oldsols/
fr_solver/
saved_outputs/
*.tar
*.pvd
*.vts
*.o
inputs
./pv_outputs
residuals.dat
csv_outputs/

\
solver.prof
pv_outputs/
*.prof
fr_solver
*.pvsm
.idea/
test_regression
test_unit
__pycache__/
scratch/
out.log
cases/default_case/csv_outputs
cases/default_case/deb.log
cases/default_case/gui_error.log
cases/default_case/out.log
cases/default_case/pv_outputs
cases/default_case/.webcontour
gui_error.log
cases/*/csv_outputs
cases/*/pv_outputs
